@media (max-width: 1399px)


  .table
    padding: 7rem 0
    min-height: 940px

  .price-tags
    width: 85vw

    .price-tag
      width: 34rem

@media (max-width: 1199px)
  html
    font-size: 9px


    .header
      .logo
        img
          width: 85%

      .menu
        width: 45%
        ul
          .get-started-btn
            padding: 15px 35px

    .main-arrow
      .arrow-down
        width: 58px
        height: 58px
        line-height: 4.7

    .table
      padding: 7rem 0
      min-height: 840px

      .price-tags
        width: 90vw

        .price-tag
          padding: 1rem
          text-align: center
          align-items: center
          width: 34rem

          img
            width: 12rem
            margin-top: 1rem

      footer
        .footer-wrap
          .logo
            img
              width: 85%

          .footer-menu
            width: 45%
            ul
              .footer-get-started-btn
               padding: 15px 35px

@media (max-width: 991px)
  html
    font-size: 7px

  .visible-lg
    display: none

  .header

    .m-menu-link
      display: block