html {
  font-size: 10px; }

body {
  font-family: 'Maven Pro', sans-serif; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  background: url("../img/main-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: #ffffff; }

.main-overlay, .marketing-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 0;
  background-image: -moz-linear-gradient(150deg, #88d3ce 0%, #6e45e2 100%);
  background-image: -webkit-linear-gradient(150deg, #88d3ce 0%, #6e45e2 100%);
  background-image: -ms-linear-gradient(150deg, #88d3ce 0%, #6e45e2 100%); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19vh;
  width: 95%;
  position: relative;
  z-index: 2; }
  .header .menu {
    width: 40%; }
    .header .menu ul {
      list-style: none;
      display: flex;
      justify-content: space-between; }
      .header .menu ul .menu-link {
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 500; }
      .header .menu ul .get-started-btn {
        border: 1px solid #ffffff;
        padding: 18px 41px;
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold; }

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  text-align: center; }
  .main-text span {
    height: 6vh;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold; }
    .main-text span:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 24px;
      height: 1px;
      background-color: #ffffff;
      margin-right: 10px; }
    .main-text span:after {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 24px;
      height: 1px;
      background-color: #ffffff;
      margin-left: 10px; }
  .main-text h1 {
    margin: 1rem;
    height: 18vh;
    font-size: 7.5rem;
    font-weight: 500; }
  .main-text p {
    width: 55%;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0 auto;
    line-height: 1.75; }

.main-arrow {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2; }
  .main-arrow .arrow-down {
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    line-height: 5;
    box-shadow: 0 0 18.7px 2.3px rgba(204, 204, 223, 0.5); }

.table {
  background-color: #f9fafc;
  height: 100%;
  min-height: 1000px;
  padding: 10rem; }
  .table .table-header {
    align-items: center;
    position: relative;
    z-index: 5;
    text-align: center; }
    .table .table-header span {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.29;
      letter-spacing: 0.7px;
      text-align: center;
      color: #9fa4af;
      text-transform: uppercase; }
      .table .table-header span:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 24px;
        height: 1px;
        background-color: #6e45e2;
        margin-right: 10px; }
      .table .table-header span:after {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 24px;
        height: 1px;
        background-color: #6e45e2;
        margin-left: 10px; }
    .table .table-header h2 {
      font-size: 6rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -2.4px;
      text-align: center;
      color: #4f4f6f;
      height: 15vh; }
    .table .table-header p {
      display: inline-block;
      width: 40rem;
      font-size: 1.6rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #9fa4af;
      margin: 0 auto; }

.price-tags {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: 10vh auto 0; }
  .price-tags .price-tag {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
    align-items: center;
    width: 35rem;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 1px #d7dbe8;
    transition: .5s; }
    .price-tags .price-tag:hover {
      box-shadow: 0 0 68.5px 8.5px rgba(204, 204, 223, 0.71); }
    .price-tags .price-tag img {
      width: 13rem;
      margin-top: 1.3rem; }
    .price-tags .price-tag span.personal {
      font-size: 1.1rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.3;
      letter-spacing: 0.6px;
      text-align: left;
      color: #9fa4af;
      text-transform: uppercase; }
    .price-tags .price-tag h4 {
      font-size: 5rem;
      line-height: 1.2;
      letter-spacing: -2px;
      color: #4f4f6f;
      font-weight: 500; }
      .price-tags .price-tag h4 sup {
        font-size: 1.3rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.11;
        letter-spacing: -0.5px;
        text-align: center;
        color: #4f4f6f;
        vertical-align: top;
        margin-right: .1rem; }
      .price-tags .price-tag h4 span.month {
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 4;
        letter-spacing: -0.6px;
        text-align: center;
        color: #4f4f6f; }
    .price-tags .price-tag p {
      font-size: 13.5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.74;
      letter-spacing: normal;
      text-align: center;
      color: #9fa4af;
      margin: 0 2rem; }
    .price-tags .price-tag button.price-btn {
      border-radius: 20.8px;
      box-shadow: 0 0 16px 2px rgba(204, 204, 223, 0.5);
      background-color: #ffffff;
      border: solid 1px #d7dbe8;
      width: 13rem;
      height: 3.7rem;
      font-size: .9rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.65;
      letter-spacing: 0.5px;
      text-align: center;
      color: #c2c9db;
      text-transform: uppercase;
      transition: .2s;
      margin-top: 3rem;
      margin-bottom: 2rem; }
      .price-tags .price-tag button.price-btn:hover {
        background-color: #6e45e2;
        color: #ffffff; }

.marketing {
  background: url("../img/map.png") no-repeat center;
  background-size: cover;
  height: 435px;
  position: relative;
  text-align: center; }
  .marketing .wrap {
    z-index: 9;
    position: relative;
    text-align: center;
    align-items: center;
    padding-top: 150px; }
    .marketing .wrap span {
      font-size: 1.1rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.3;
      letter-spacing: 0.6px;
      color: #ffffff;
      text-transform: uppercase; }
    .marketing .wrap h2 {
      font-size: 5rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: -2px;
      text-align: center;
      color: #ffffff;
      height: 12vh; }
    .marketing .wrap .marketing-btn {
      border-radius: 20.8px;
      background-color: #ffffff;
      border: solid 1px #d7dbe8;
      width: 13rem;
      height: 3.7rem;
      font-size: .9rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.65;
      letter-spacing: 0.5px;
      text-align: center;
      color: #c2c9db;
      text-transform: uppercase;
      transition: .2s; }
      .marketing .wrap .marketing-btn:hover {
        background-color: #6e45e2;
        color: #ffffff;
        border: solid 1px #6e45e2; }

footer {
  display: flex;
  justify-content: center; }
  footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 95%;
    z-index: 2; }
    footer .footer-wrap .footer-menu {
      width: 40%; }
      footer .footer-wrap .footer-menu ul {
        list-style: none;
        display: flex;
        justify-content: space-between; }
        footer .footer-wrap .footer-menu ul .footer-menu-link {
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: 500;
          color: #6a6a77; }
        footer .footer-wrap .footer-menu ul .footer-get-started-btn {
          background-color: #6e45e2;
          border: none;
          padding: 18px 41px;
          border-radius: 100px;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: bold;
          color: white; }

.line {
  display: block;
  width: 95%;
  height: 2px;
  opacity: 0.2;
  background-color: #bdbdc2;
  margin: 0 auto; }

.legal {
  display: flex;
  justify-content: center; }
  .legal .legal-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 95%;
    z-index: 2; }
    .legal .legal-wrap .copy {
      font-size: 1.1rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.39;
      letter-spacing: normal;
      text-align: left;
      color: rgba(106, 106, 119, 0.5); }
    .legal .legal-wrap .social-link {
      width: 7%;
      display: flex;
      justify-content: space-between; }
      .legal .legal-wrap .social-link a {
        font-size: 1.3rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: right;
        color: rgba(106, 106, 119, 0.5); }
